<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 <head>
 <meta charset="UTF-8">
 <title>Insert title here</title>
 <style>
 	.high {color: red;}
 	.low {color : blue;}
 </style>
 </head>
 <body>
 <table>
  <tr>
  	<th>index</th>
  	<th>no</th>
    <th>employee_id</th>
    <th>first_name</th>
    <th>salary</th>
    <th>hire_date</th>
  </tr>
  <tr th:each="emp,stat : ${empList}">
  	<td th:text="${stat.index}"></td>
  	<td th:text="${stat.count}"></td>
    <td th:text="${emp.employeeId}"></td>
    <td>[[${emp.firstName}]] [[${emp.lastName}]]</td>
    <td th:text="${emp.salary}" th:class="${emp.salary} > 10000 ? 'high' : 'low'"></td>
    <td th:text="${#dates.format(emp.hireDate,'yyyy-MM-dd')}" ></td>
  </tr>
 </table>
 <script th:inline ="javascript">
 	let list = [[${empList}]]
 </script>
 </body>
 </html>